.cache/
.cargo/
.config/Electron/
.config/GIMP/
.config/WebCord/
.config/systemd/
.config/yay/
.config/trashrc
.config/kritarc
.config/kritadisplayrc
.config/QtProject.conf
.hyprland/
.mozilla/
.local/
.npm/
.pki/
.rustup/
Downloads/
.wget-hsts
.zcompdump-*
.oh-my-zsh/
.zsh_history
