configuration {
	display-drun: "  ";
	display-run: "  ";
	display-window: "  ";
	display-ssh: " ~# ";
	show-icons: true;
	sidebar-mode: false;
	font: "Cascadia Mono PL 14";
}

@theme "~/.config/rofi/launcher.rasi"